extends layout.pug

block content 
	div
		h2 #{playlistName}
		h3 Have fun exploring the Audio Features of #{playlistName}
	div
		table
			tr
				th Song name
				th Artist 
				th BPM
			each song in tracks 
				tr
					td=song.name 
					td=song.artists[0].name 
					td=song.tempo
				
				
