extends layout.pug

block content 
	div
		h2 #{playlistName}
		h3 Have fun exploring the Audio Features of #{playlistName}
	div
		form(action=`${playlistID}/creating`, method="GET")
			label(for="min") BPM filter:  
			input(type="text", id="min", name="min", placeholder="Minimum", onkeyup="filterBPM()", required="true") 
			label(for="max")   -  
			input(type="text", id="max", name="max", placeholder="Maximum", onkeyup="filterBPM()", required="true")
			input(type="submit" value="Create")
		p Simply click "Create" when the songs you desire are shown
	div
		table(id="songTable")
			tr
				th Song name
				th Artist 
				th BPM
			each song in tracks 
				tr
					td=song.name 
					td=song.artists[0].name 
					td=song.tempo		
	script(src="/js/filterSongs.js")
